@charset "UTF-8";
/* phone */
#content{
    width: 100%;
    height: 4000px;
    padding-top: 22px;
    background: rgb(245,245,245);
}
#content #c_phone{
    width: 1226px;
    margin: 0 auto;
}
#content #c_phone .c_p_title{
    position: relative;
    width: 100%;
    height: 58px;
    line-height: 58px;
}
#content #c_phone .c_p_title h2{
    font-size: 22px;
    font-weight: 200;
    color: #333;
    line-height: 58px;
}
#content #c_phone .c_p_title div{
    position: absolute;
    top: 0;
    right: 0;
}
#content #c_phone .c_p_title div a{
    font-size: 16px;
    color: #424242;
    line-height: 58px;
    transition: all .2s;
}
#content #c_phone .c_p_title div a i{
    margin-left: 3px;
    color: #fff;
    font-size: 20px;
    background: #b0b0b0;
    line-height: 12px;
    border-radius: 16px;
    transition: all .2s;
    vertical-align: -2px;
}
#content #c_phone .c_p_title div a:hover{color: #ff6700;}
#content #c_phone .c_p_title div a:hover .icon-iconfonti{background: #ff6700;}
#content #c_phone .c_p_main{width: 100%;height: 628px;}
#content #c_phone .c_p_main .c_p_m_left{position:relative; width: 234px;height: 614px;transition:all .2s;z-index:1;}
#content #c_phone .c_p_main .c_p_m_left:hover{box-shadow: 0 15px 30px rgba(0,0,0,0.1);z-index:2;transform: translate3d(0,-2px,0);}
#content #c_phone .c_p_main .c_p_m_left a{display: block;width:100%;height:100%;}
#content #c_phone .c_p_main .c_p_m_left a img{width: 234px;height: 614px;}
#content #c_phone .c_p_main .c_p_m_right{width: 992px;height: 614px;}
#content #c_phone .c_p_main .c_p_m_right ul li{
    position: relative;
    float: left;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    margin: 0 0 14px 14px;
    text-align: center;
    background: #fff;
    transition: all .2s;
    z-index: 1;
}
#content #c_phone .c_p_main .c_p_m_right ul li:hover{box-shadow: 0 15px 30px rgba(0,0,0,0.1);z-index:1;transform: translate3d(0,-2px,0);}
#content #c_phone .c_p_main .c_p_m_right ul li div{width:160px;height:160px;margin: 0 auto 18px;}
#content #c_phone .c_p_main .c_p_m_right ul li div a{display: block;}
#content #c_phone .c_p_main .c_p_m_right ul li div a img{width:160px;height:160px;}
#content #c_phone .c_p_main .c_p_m_right ul li h2{font-size: 14px;font-weight: 400;margin:0 10px 2px;}
#content #c_phone .c_p_main .c_p_m_right ul li h2 a{color: #333;}
#content #c_phone .c_p_main .c_p_m_right ul li .desc{margin:0 10px 10px;font-size: 12px;height:18px;color: #b0b0b0;}
#content #c_phone .c_p_main .c_p_m_right ul li .p_price{margin: 0 10px 14px;color: #ff6700;font-size: 14px;}
#content #c_phone .c_p_main .c_p_m_right ul li span{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
    display: block;
    width:64px;
    height:20px;
    background:#83c44e;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
}
#content #c_phone .c_p_newP{
    width: 100%;
    height: 120px;
    margin: 28px 0 22px;
}
#content #c_phone .c_p_newP a{display: block;}
#content #c_phone .c_p_newP a img{width:1226px;height:120px;}

/* 家电 */
#content #c_appliance{width:1226px;margin: 0 auto;}
#content #c_appliance .c_a_title{position:relative; width:100%;height:58px;}
#content #c_appliance .c_a_title h2{
    font-size: 22px;
    font-weight: 200;
    color: #333;
    line-height: 58px;
}
#content #c_appliance .c_a_title div{position:absolute;top:0;right:0;width:280px;height:42px;}
#content #c_appliance .c_a_title div ul{padding-top: 16px;width:100%;height:26px;}
#content #c_appliance .c_a_title div ul li{
    float: left;
    height: 24px;
    margin-left: 30px;
    font-size: 16px;
    color: #424242;
    line-height: 24px;
    transition: border-bottom-color .5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
#content #c_appliance .c_a_title div ul li.hover{border-bottom-color: #ff6700;color: #ff6700;}
#content #c_appliance .c_a_main{width: 100%;height: 628px;}
#content #c_appliance .c_a_main .c_a_m_left{width: 234px;height: 614px;}
#content #c_appliance .c_a_main .c_a_m_left ul li{
    position:relative;
    float: left;
    width: 100%;
    height: 300px;
    margin-bottom: 14px;
    transition:all .2s;z-index:1;
}
#content #c_appliance .c_a_main .c_a_m_left ul li:hover{box-shadow: 0 15px 30px rgba(0,0,0,0.1);z-index: 2;transform: translate3d(0,-2px,0);}
#content #c_appliance .c_a_main .c_a_m_left ul li a{display: block;}
#content #c_appliance .c_a_main .c_a_m_left ul li a img{width: 234px;height: 300px;}
#content #c_appliance .c_a_main .c_a_m_right{width: 992px;height: 614px;}
#content #c_appliance .c_a_main .c_a_m_right ul{display: none;}
#content #c_appliance .c_a_main .c_a_m_right ul li{
    position: relative;
    float: left;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    margin: 0 0 14px 14px;
    text-align: center;
    background: #fff;
    transition: all .2s;
    z-index: 1;
}
#content #c_appliance .c_a_main .c_a_m_right ul li:hover{box-shadow: 0 15px 30px rgba(0,0,0,0.1);z-index:1;transform: translate3d(0,-2px,0);}
#content #c_appliance .c_a_main .c_a_m_right ul li div{width:160px;height:160px;margin: 0 auto 18px;}
#content #c_appliance .c_a_main .c_a_m_right ul li div a{display: block;}
#content #c_appliance .c_a_main .c_a_m_right ul li div a img{width:160px;height:160px;}
#content #c_appliance .c_a_main .c_a_m_right ul li h2{font-size: 14px;font-weight: 400;margin:0 10px 2px;}
#content #c_appliance .c_a_main .c_a_m_right ul li h2 a{color: #333;}
#content #c_appliance .c_a_main .c_a_m_right ul li .desc{margin:0 10px 10px;font-size: 12px;height:18px;color: #b0b0b0;}
#content #c_appliance .c_a_main .c_a_m_right ul li .p_price{margin: 0 10px 14px;color: #ff6700;font-size: 14px;}
#content #c_appliance .c_a_main .c_a_m_right ul li span{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
    display: block;
    width:64px;
    height:20px;
    background:#e53935;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
}
#content #c_appliance .c_a_main .c_a_m_right ul li.eight{position: relative;height: 143px;padding: 0;}
#content #c_appliance .c_a_main .c_a_m_right ul li.eight div{position: absolute;top:50%;right: 20px;margin:-40px 0 0 0; width: 80px;height: 80px;}
#content #c_appliance .c_a_main .c_a_m_right ul li.eight div a{display: block;}
#content #c_appliance .c_a_main .c_a_m_right ul li.eight div a img{ width: 80px; height: 80px;}
#content #c_appliance .c_a_main .c_a_m_right ul li.eight h3{margin:40px 110px 0 30px;font-size: 14px;font-weight: 400;text-align: left;}
#content #c_appliance .c_a_main .c_a_m_right ul li.eight h3 a{color: #333;}
#content #c_appliance .c_a_main .c_a_m_right ul li.eight p{margin: 6px 110px 0 30px;text-align: left;}
#content #c_appliance .c_a_main .c_a_m_right ul li.nine{position: relative;height: 143px;padding: 0;}
#content #c_appliance .c_a_main .c_a_m_right ul li.nine div{position: absolute;top:48px;right: 35px;margin:0; width: 48px;height: 48px;}
#content #c_appliance .c_a_main .c_a_m_right ul li.nine div a{display: block;width:100%;height:100%;}
#content #c_appliance .c_a_main .c_a_m_right ul li.nine div a i{font-size: 48px;color: #ff6700;}
#content #c_appliance .c_a_main .c_a_m_right ul li.nine ._more{display: block;margin: 52px 110px 0 30px;font-size: 18px;color: #333;text-align: left;}
#content #c_appliance .c_a_main .c_a_m_right ul li.nine ._more span{top:78px;left: 63px; font-size: 12px;color: #757575;background: none;text-align: left;}
#content #c_appliance .c_a_main .c_a_m_right ul li div.comments{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 0;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    transition: all .2s linear;
    margin: 0;
}
#content #c_appliance .c_a_main .c_a_m_right ul li:hover .comments{height: 76px;opacity: 1;}
#content #c_appliance .c_a_main .c_a_m_right ul li .comments a{ display:block;padding: 8px 30px;}
#content #c_appliance .c_a_main .c_a_m_right ul li .comments a p.s1{margin-bottom: 5px;padding: 0;color: #fff;font-size: 12px;text-align: left;}
#content #c_appliance .c_a_main .c_a_m_right ul li .comments a p.s2{padding: 0;color: rgba(255,255,255,0.6);font-size: 12px;text-align: left;}
#content #c_appliance .c_a_newP{
    width: 100%;
    height: 120px;
    margin: 28px 0 22px;
}
#content #c_appliance .c_a_newP a{display: block;}
#content #c_appliance .c_a_newP a img{width:1226px;height:120px;}

/*智能*/
#content #c_smart{width:1226px;margin: 0 auto;}
#content #c_smart .c_s_title{position:relative; width:100%;height:58px;}
#content #c_smart .c_s_title h2{
    font-size: 22px;
    font-weight: 200;
    color: #333;
    line-height: 58px;
}
#content #c_smart .c_s_title div{position:absolute;top:0;right:0;width:326px;height:42px;}
#content #c_smart .c_s_title div ul{padding-top: 16px;width:100%;height:26px;}
#content #c_smart .c_s_title div ul li{
    float: left;
    height: 24px;
    margin-left: 30px;
    font-size: 16px;
    color: #424242;
    line-height: 24px;
    transition: border-bottom-color .5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
#content #c_smart .c_s_title div ul li.hover{border-bottom-color: #ff6700;color: #ff6700;}
#content #c_smart .c_s_main{width: 100%;height: 628px;}
#content #c_smart .c_s_main .c_s_m_left{width: 234px;height: 614px;}
#content #c_smart .c_s_main .c_s_m_left ul li{
    position:relative;
    float: left;
    width: 100%;
    height: 300px;
    margin-bottom: 14px;
    transition:all .2s;z-index:1;
}
#content #c_smart .c_s_main .c_s_m_left ul li:hover{box-shadow: 0 15px 30px rgba(0,0,0,0.1);z-index: 2;transform: translate3d(0,-2px,0);}
#content #c_smart .c_s_main .c_s_m_left ul li a{display: block;}
#content #c_smart .c_s_main .c_s_m_left ul li a img{width: 234px;height: 300px;}
#content #c_smart .c_s_main .c_s_m_right{width: 992px;height: 614px;}
#content #c_smart .c_s_main .c_s_m_right ul{display: none;}
#content #c_smart .c_s_main .c_s_m_right ul li{
    position: relative;
    float: left;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    margin: 0 0 14px 14px;
    text-align: center;
    background: #fff;
    transition: all .2s;
    z-index: 1;
}
#content #c_smart .c_s_main .c_s_m_right ul li:hover{box-shadow: 0 15px 30px rgba(0,0,0,0.1);z-index:1;transform: translate3d(0,-2px,0);}
#content #c_smart .c_s_main .c_s_m_right ul li div{width:160px;height:160px;margin: 0 auto 18px;}
#content #c_smart .c_s_main .c_s_m_right ul li div a{display: block;}
#content #c_smart .c_s_main .c_s_m_right ul li div a img{width:160px;height:160px;}
#content #c_smart .c_s_main .c_s_m_right ul li h2{font-size: 14px;font-weight: 400;margin:0 10px 2px;}
#content #c_smart .c_s_main .c_s_m_right ul li h2 a{color: #333;}
#content #c_smart .c_s_main .c_s_m_right ul li .desc{margin:0 10px 10px;font-size: 12px;height:18px;color: #b0b0b0;}
#content #c_smart .c_s_main .c_s_m_right ul li .p_price{margin: 0 10px 14px;color: #ff6700;font-size: 14px;}
#content #c_smart .c_s_main .c_s_m_right ul li span{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
    display: block;
    width:64px;
    height:20px;
    background:#e53935;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
}
#content #c_smart .c_s_main .c_s_m_right ul li.eight{position: relative;height: 143px;padding: 0;}
#content #c_smart .c_s_main .c_s_m_right ul li.eight div{position: absolute;top:50%;right: 20px;margin:-40px 0 0 0; width: 80px;height: 80px;}
#content #c_smart .c_s_main .c_s_m_right ul li.eight div a{display: block;}
#content #c_smart .c_s_main .c_s_m_right ul li.eight div a img{ width: 80px; height: 80px;}
#content #c_smart .c_s_main .c_s_m_right ul li.eight h3{margin:40px 110px 0 30px;font-size: 14px;font-weight: 400;text-align: left;}
#content #c_smart .c_s_main .c_s_m_right ul li.eight h3 a{color: #333;}
#content #c_smart .c_s_main .c_s_m_right ul li.eight p{margin: 6px 110px 0 30px;text-align: left;}
#content #c_smart .c_s_main .c_s_m_right ul li.nine{position: relative;height: 143px;padding: 0;}
#content #c_smart .c_s_main .c_s_m_right ul li.nine div{position: absolute;top:48px;right: 35px;margin:0; width: 48px;height: 48px;}
#content #c_smart .c_s_main .c_s_m_right ul li.nine div a{display: block;width:100%;height:100%;}
#content #c_smart .c_s_main .c_s_m_right ul li.nine div a i{font-size: 48px;color: #ff6700;}
#content #c_smart .c_s_main .c_s_m_right ul li.nine ._more{display: block;margin: 52px 110px 0 30px;font-size: 18px;color: #333;text-align: left;}
#content #c_smart .c_s_main .c_s_m_right ul li.nine ._more span{top:78px;left: 63px; font-size: 12px;color: #757575;background: none;text-align: left;}
#content #c_smart .c_s_main .c_s_m_right ul li div.comments{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 0;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    transition: all .2s linear;
    margin: 0;
}
#content #c_smart .c_s_main .c_s_m_right ul li:hover .comments{height: 76px;opacity: 1;}
#content #c_smart .c_s_main .c_s_m_right ul li .comments a{ display:block;padding: 8px 30px;}
#content #c_smart .c_s_main .c_s_m_right ul li .comments a p.s1{margin-bottom: 5px;padding: 0;color: #fff;font-size: 12px;text-align: left;}
#content #c_smart .c_s_main .c_s_m_right ul li .comments a p.s2{padding: 0;color: rgba(255,255,255,0.6);font-size: 12px;text-align: left;}
#content #c_smart .c_s_newP{
    width: 100%;
    height: 120px;
    margin: 28px 0 22px;
}
#content #c_smart .c_s_newP a{display: block;}
#content #c_smart .c_s_newP a img{width:1226px;height:120px;}

/* 为你推荐 */
#content #recommend{width:1226px;margin: 0 auto;}
#content #recommend .c_r_title{position:relative; width:100%;height:58px;}
#content #recommend .c_r_title h2{font-size: 22px;font-weight: 200;color: #333;line-height: 58px;}
#content #recommend .c_r_title .c_r_t_btn{position: absolute;top: 15px;right: 0;width: 72px;height: 24px;line-height: 22px;}
#content #recommend .c_r_title .c_r_t_btn span{display: inline-block;width: 24px;height:16px; border: 1px solid #e0e0e0;padding: 3px 5px;font-size: 14px;line-height: 18px;color: #e0e0e0;text-align: center;font-weight: 600;transition: color .2s;}
#content #recommend .c_r_title .c_r_t_btn span.able{color: #a6a6a6;cursor: pointer;}
#content #recommend .c_r_main{position: relative;width:1226px;height:320px;overflow: hidden;}
#content #recommend .c_r_main ul{position: absolute; width: 3720px;}
#content #recommend .c_r_main ul li{float: left;width: 234px;height: 300px;margin: 0 14px 14px 0;background: #fff;text-align: center;transition:all .2s linear;}
#content #recommend .c_r_main ul li:hover{box-shadow: 0 5px 20px rgba(0,0,0,.1);transform: translate3d(0,-2px,0);}
#content #recommend .c_r_main ul li dl{padding: 0 20px;}
#content #recommend .c_r_main ul li dl dt{width: 194px;height: 145px;padding: 40px 0 15px;text-align: center;}
#content #recommend .c_r_main ul li dl dt a{display: block;width: 140px;height: 140px;margin: 0 auto;}
#content #recommend .c_r_main ul li dl dd{width:194px;margin-bottom: 10px;font-size: 14px;}
#content #recommend .c_r_main ul li dl dd.d_name{color: #ff6700;}
#content #recommend .c_r_main ul li dl dd a{color: #333;}
#content #recommend .c_r_main ul li dl dd:last-child{color: #757575;}

/* 热评产品 */
#content #c_hotProduct{width:1226px;margin: 0 auto;}
#content #c_hotProduct .c_h_title{position:relative; width:100%;height:58px;}
#content #c_hotProduct .c_h_title h2{font-size: 22px;font-weight: 200;color: #333;line-height: 58px;}
#content #c_hotProduct .c_h_main{position: relative;width:1226px;height:438px;overflow: hidden;}
#content #c_hotProduct .c_h_main ul li{float:left;width: 296px;height: 415px;margin: 0 0 14px 14px;text-align: center;background: #fff;transition: all .2s linear;}
#content #c_hotProduct .c_h_main ul li:hover{box-shadow: 0 5px 20px rgba(0,0,0,.1);transform: translate3d(0,-2px,0);}
#content #c_hotProduct .c_h_main ul li:first-child{margin-left:0;}
#content #c_hotProduct .c_h_main ul li .m_img{width: 296px;height: 220px;margin-bottom: 28px;}
#content #c_hotProduct .c_h_main ul li .m_img a{display: block;}
#content #c_hotProduct .c_h_main ul li .review{width: 240px;height: 72px;margin: 0 28px 22px;font-size: 14px;line-height: 24px;font-weight: 400;overflow: hidden;}
#content #c_hotProduct .c_h_main ul li .review a{color: #333;}
#content #c_hotProduct .c_h_main ul li .author{width: 240px;height: 18px;line-height: 18px;font-size: 12px;color: #b0b0b0;text-align: left;padding-right: 10px;margin: 0 28px 8px;}
#content #c_hotProduct .c_h_main ul li .info{width: 236px;margin: 0 30px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;text-align: left;}
#content #c_hotProduct .c_h_main ul li .info a{color: #333;font-size: 14px;font-weight: 400;}
#content #c_hotProduct .c_h_main ul li .info span:nth-of-type(1){margin: 0 5px;color: #e0e0e0;opacity: 0.5;}
#content #c_hotProduct .c_h_main ul li .info span:last-of-type{color: #ff6700;font-size: 14px;}

/* 内容 */
#content #c_cList{width:1226px;margin: 0 auto;}
#content #c_cList .c_cL_title{position:relative; width:100%;height:58px;}
#content #c_cList .c_cL_title h2{font-size: 22px;font-weight: 200;color: #333;line-height: 58px;}
#content #c_cList .c_cL_main{width: 100%;height: 420px;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item{float: left;width: 296px;height: 374px;padding-top: 45px;margin: 0 0 14px 14px;border-top: 1px solid #ffac13;background: #fff;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item:first-of-type{margin-left: 0;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item:nth-of-type(2){border-top-color: #83c44e;color: #83c44e;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item:nth-of-type(3){border-top-color: #e53935;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item:last-of-type{border-top-color: #2196f3;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .title{width: 276px;height: 24px;margin: 0 10px 18px ;text-align: center;color: #ffac13;font-size: 16px;font-weight: 400;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper{width: 296px;height: 340px;overflow: hidden;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul{width:888px;height:340px;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li{float: left;width: 296px;height: 340px;background-color: #fff;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .name{margin: 0 20px 5px;font-size: 20px;font-weight: 400;line-height: 1.25;text-align: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .name a{color: #333;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .desc{width: 200px;height: 40px;margin: 0 48px 10px;text-align: center;font-size: 12px;line-height: 20px;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .desc a{color: #b0b0b0;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .price{width: 276px;height: 21px;margin: 0 10px 15px;text-align: center;font-size: 14px;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .price a{color: #333;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .figure{width: 216px;height: 154px;margin: 0 auto;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .figure a{display: block;width: 100%;height:100%;}
#content #c_cList .c_cL_main .c_cL_mList .c_cL_mL_item .wrapper ul li .figure a img{margin: 0 auto;}
