@charset "UTF-8";
/* top bar */
#header{
    width: 100%;
    height: 40px;
    background: #333;
}
#header .h_main{
    position: relative;
    width: 1226px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#header .h_main .h_m_left,#header .h_main .h_m_right{
    height: 40px;
    line-height: 40px;
}
#header .h_main .h_m_left ul li,#header .h_main .h_m_right ul li{
    float: left;
    font-size: 12px;
    color: #666;
}
#header .h_main .h_m_left ul li span,#header .h_main .h_m_right ul li span{margin: 0 .5em;color: #424242;}
#header .h_main .h_m_left ul li a,#header .h_main .h_m_right ul li a{
    display: inline-block;
    font-size: 12px;
    color: #b0b0b0;
}
#header .h_main .h_m_left ul li a:hover,#header .h_main .h_m_right ul li a:hover{
    color: white;
}
#header .h_main .h_m_right .h_m_r_buy{
    position: relative;
    margin-left: 15px;
    height: 100%;
    width: 120px;
    background: #424242;
}
#header .h_main .h_m_right .h_m_r_buy a.buy{
    position: relative;
    z-index: 12;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
#header .h_main .h_m_right .h_m_r_buy a.buy.hover{color: #ff6700;background: #fff;}
#header .h_main .h_m_right .h_m_r_buy a.buy i{vertical-align: -1px;}
#header .h_main .h_m_right .h_m_r_buy .hide{
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    height: 100px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
    font-size: 12px;
    color: #424242;
    text-align: center;
    line-height: 100px;
    display: none;
    background-color: #fff;
    z-index: 10;
}

/* nav */
#nav{
    width: 100%;
    height: 100px;
}
#nav .n_main{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    line-height: 100px;
}
#nav .n_main .n_main_left{
    display: inline-block;
    margin-top: 22px;
    margin-right: 12px;
}
#nav .n_main .n_main_left .n_main_logo{
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700;
    /*vertical-align: center;*/
}
#nav .n_main .n_main_left .n_main_logo i{
    display: block;
    width: 55px;
    height: 55px;
    background: url('../img/mi-logo.png') no-repeat 50% 50%;
    opacity: 1;
}
#nav .n_main .n_main_middle{width: 820px;margin-left: 30px;}
#nav .n_main .n_main_middle ul{margin-left: 142px;}
#nav .n_main .n_main_middle ul li{
    float: left;
    font-size: 16px;
}
#nav .n_main .n_main_middle ul li a{
    padding: 26px 10px 38px;
    color: #333333;
}
#nav .n_main .n_main_middle ul li a:hover{color: #ff6700}
#nav .n_main .n_main_right{
    position: relative;
    width: 296px;
    margin-top: 25px;

}
#nav .n_main .n_main_right .n_m_r_searchForm{
    width: 100%;
    height: 50px;
}
#nav .n_main .n_main_right .n_m_r_searchForm .searchHide{
    position: absolute;
    top: 50px;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: none;
    display: none;
    z-index: 4;
}
#nav .n_main .n_main_right .n_m_r_searchForm .searchHide ul li{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#nav .n_main .n_main_right .n_m_r_searchForm .searchHide ul li a{
    display: block;
    height: 100%;
    padding: 0 12px;
    background-color: #fff;
}
#nav .n_main .n_main_right .n_m_r_searchForm .searchHide ul li a span:first-child{float: left;color: #333;}
#nav .n_main .n_main_right .n_m_r_searchForm .searchHide ul li a span:last-child{float: right;color: #ccc;}
#nav .n_main .n_main_right .n_m_r_searchForm .searchHide ul li a:hover{background-color: #fafafa}
#nav .n_main .n_main_right .n_m_r_searchForm .n_m_r_search{
    position: absolute;
    top: 0;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    transition: all .2s;
    outline: none;
}
#nav .n_main .n_main_right .n_m_r_searchForm .n_m_r_search:focus + p{display: none;}
#nav .n_main .n_main_right .n_m_r_searchForm input.focus{
    border-color: #ff6700;
}
#nav .n_main .n_main_right .n_m_r_searchForm .iconS{
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 50px;
}
#nav .n_main .n_main_right .n_m_r_searchForm .btnSearch{
    padding: 1px 6px;
    border: 1px solid #e0e0e0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    z-index: 5;
}
#nav .n_main .n_main_right .n_m_r_searchForm i{
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #616161;
    background-color: #fff;
    transition: all .2s;
    z-index: 2;
}
#nav .n_main .n_m_r_searchForm:hover .search{
    border-color: #b0b0b0;
}
#nav .n_main .n_main_right .n_m_r_searchForm .btnSearch:hover{border-color: #ff6700}
#nav .n_main .n_main_right .n_m_r_searchForm .btnSearch:hover + i{
    background-color: #ff6700;
    color: #fff;
}
#nav .n_main .n_main_right .n_m_r_searchForm .search_hot{
    position: absolute;
    top: 10px;
    right: 62px;
    line-height: normal;
    transition: all .2s;
}
#nav .n_main .n_main_right .n_m_r_searchForm .search_hot a{
    display: inline-block;
    padding: 1px 5px;
    color: #757575;
    font-size: 12px;
    background-color: #eee;
    transition: all .2s;
}
#nav .n_main .n_main_right .n_m_r_searchForm .search_hot a:hover{
    color: #fff;
    background-color: #ff6700;
}
#nav .n_main_hide{
    position: relative;
    width: 100%;
    height: 229px;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    display: none;
    z-index: 5;
}
#nav .n_main_hide .n_m_h_main {
    position: relative;
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    line-height: 100px;
}
#nav .n_main_hide .n_m_h_main ul{position:absolute;top: 0; left: 0;display: none;}
#nav .n_main_hide .n_m_h_main ul li{
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    font-size: 12px;
    text-align: center;
}
#nav .n_main_hide .n_m_h_main ul li a{
    display: block;
    text-align: center;
}
#nav .n_main_hide .n_m_h_main ul li a img{
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
}
#nav .n_main_hide .n_m_h_main ul li:after{
    content: '';
    width: 1px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 35px;
    background-color: #e0e0e0;
}
#nav .n_main_hide .n_m_h_main ul li:last-child:after{display: none;}
#nav .n_main_hide .n_m_h_main ul li .name{
    width: 100%;
    line-height: 20px;
    color: #333;
}
#nav .n_main_hide .n_m_h_main ul li .price{
    width: 100%;
    line-height: 20px;
    color: #ff6700;
    text-align: center;
}

/* banner */
#banner{
    position: relative;
    width: 1226px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
}
#banner .b_main {width: 100%; height: 100%;position:relative;}
#banner .b_main .b_m_pic ul li{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#banner .b_main .b_m_pic ul li img{
    width: 100%;
    height: 100%;
}
#banner .b_main .b_m_tab{
    position: absolute;
    width: 100px;
    height: 10px;
    right: 30px;
    bottom: 20px;
    line-height: 6px;
}
#banner .b_main .b_m_tab ul li{
    float: left;
    width: 6px;
    height:6px;
    border: 2px solid #ababab;
    border-radius: 50%;
    background: #878787;
    margin: 0 5px;
    cursor: pointer;
}
#banner .b_main .b_m_tab ul li.on{
    border-color: rgba(0,0,0,0.4);
    background-color: rgba(255,255,255,0.4);
}
#banner .b_main .b_m_btn div{
    position: absolute;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    background: url("../img/banner/icon-slides.png") no-repeat;
    cursor: pointer;
}
#banner .b_main .b_m_btn .b_m_btnLeft{
    left: 234px;
    background-position: -83px 50%;
}
#banner .b_main .b_m_btn .b_m_btnLeft:hover{background-position: 0 50%;}
#banner .b_main .b_m_btn .b_m_btnRight{
    right: 0;
    background-position: -125px 50%;
}
#banner .b_main .b_m_btn .b_m_btnRight:hover{background-position: -43px 50%;}
#banner .b_category{
    position: absolute;
    width: 234px;
    height: 460px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}
#banner .b_category .b_c_ul{padding: 20px 0;}
#banner .b_category .b_c_ul .b_c_li{
    width: 100%;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
}
#banner .b_category .b_c_ul .b_c_li .b_c_li_a{
    display: block;
    height: 42px;
    line-height: 42px;
    color:inherit;
    padding-left: 30px;
}
#banner .b_category .b_c_ul .b_c_li .b_c_li_a i{
    position: absolute;
    right: 17px;
    font-size: 24px;
    color: rgba(255,255,255,0.5);
}
#banner .b_category .b_c_ul .b_c_li:hover{background:#ff6700;}
#banner .b_category .b_c_hide{
    position: absolute;
    left: 234px;
    top: 0;
    width: 992px;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    background: #fff;
}
#banner .b_category .b_c_twoHide{width: 512px;}
#banner .b_category .b_c_threeHide{width: 760px;}
.b_c_hide{display: none;}
#banner .b_category .b_c_hide .b_c_hide_ul{
    float: left;
    width: 248px;
    height: 458px;
    padding: 2px 0;
}
#banner .b_category .b_c_hide .b_c_hide_ul .b_c_hide_li{
    width: 265px;
    height: 76px;
}
#banner .b_category .b_c_hide .b_c_hide_ul .b_c_hide_li a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
#banner .b_category .b_c_hide .b_c_hide_ul .b_c_hide_li a:hover{color: #ff6700;}
#banner .b_category .b_c_hide .b_c_hide_ul .b_c_hide_li a img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    vertical-align: middle;
}
#banner .b_category .b_c_ul .b_c_li:hover .b_c_hide{display: block;}

/* newProduct_row*/
#newProduct_row{
    width: 1226px;
    height: 170px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}
#newProduct_row .n_function{
    width: 234px;
    height: 100%;
}
#newProduct_row .n_function ul{width: 100%;height: 100%;background: #5f5750;}
#newProduct_row .n_function ul li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    text-align: center;
}
#newProduct_row .n_function ul li:before,#newProduct_row .n_function ul li:after{
    position: absolute;
    content: "";
    background: #665e57;
}
#newProduct_row .n_function ul li:after{
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}
#newProduct_row .n_function ul li:before{
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}
#newProduct_row .n_function ul li.top:before,#newProduct_row .n_function ul li.left:after{display: none;}
#newProduct_row .n_function ul li a{
    display: block;
    width: 70px;
    padding-top: 18px;
    color: rgba(255,255,255,0.7);
    transition: color .2s;
    font-size: 12px;
}
#newProduct_row .n_function ul li a:hover{color: #fff;}
#newProduct_row .n_function ul li a i{display: block;font-size: 23px;margin-bottom: 4px;}
#newProduct_row .n_newProduct{
    width: 978px;
    height: 170px;
    margin-left: 14px;
}
#newProduct_row .n_newProduct ul li{
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
    transition: box-shadow .2s linear;
}
#newProduct_row .n_newProduct ul li:hover{
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
#newProduct_row .n_newProduct ul li a{display: block;width:100%;height:100%;}
#newProduct_row .n_newProduct ul li a img{width: 316px;height: 170px;}
#newProduct_row .n_newProduct ul li:first-child{margin-left: 0;}
#promotion{
    width: 1226px;
    height: 120px;
    margin: 28px auto 42px;
}
#promotion a{display: block;width:100%;height:100%}
#promotion a img{width: 100%;height: 100%;}